## Exercise

In [1]:
import pandas as pd
import numpy as np

In [2]:
import urllib2

In [3]:
import zipfile

In [4]:
import io

### 1 Data Input

Read a CVS-file with a header (’.\Data\data_kaplan\swim100m.csv’). Also show the first 5 data points.

In [5]:
!head -n 5 'data/swim100m.csv'

year,time,sex
1905,65.8,M
1908,65.6,M
1910,62.8,M
1912,61.6,M

In [6]:
path = r'data/swim100m.csv'
df = pd.read_csv(path, header=0)

In [7]:
df.head()

   year  time sex
0  1905  65.8   M
1  1908  65.6   M
2  1910  62.8   M
3  1912  61.6   M
4  1918  61.4   M

An MS-Excel file (’.\Data\data_others\Table 2.8 Waist loss.xls’). Show the last five data points.

In [8]:
xls = r'data/Table 2.8 Waist loss.xls'

In [9]:
df2 = pd.read_excel(xls, skiprows=2)

In [10]:
df2.head()

   man  before  after
0    1   100.8   97.0
1    2   102.0  107.5
2    3   105.9   97.0
3    4   108.0  108.0
4    5    92.0   84.0

In [11]:
df2.tail(5)

    man  before  after
15   16   103.5  103.0
16   17    82.0   80.0
17   18   101.5  101.5
18   19   103.5  102.6
19   20    93.0   93.0

Read in the same file, but this time from the zipped archive http://cdn.crcpress.com/downloads/C9500/GLM_data.zip.

Get the zip-archive

In [12]:
url = 'http://cdn.crcpress.com/downloads/C9500/GLM_data.zip'

In [13]:
req = urllib2.Request(url)

In [14]:
GLM_archive = urllib2.urlopen(req).read()

Make the archive available as a byte-stream

In [15]:
zipdata = io.BytesIO()

In [16]:
zipdata.write(GLM_archive)

79071L

Extract the requested file from the archive, as a pandas XLS-file

In [17]:
myzipfile = zipfile.ZipFile(zipdata)

In [18]:
xlsfile = myzipfile.open(r'GLM_data/Table 2.8 Waist loss.xls')

Read xls-file into Python

In [19]:
df_ = pd.read_excel(xlsfile, skiprows=2)

In [20]:
df_.tail()

    man  before  after
15   16   103.5  103.0
16   17    82.0   80.0
17   18   101.5  101.5
18   19   103.5  102.6
19   20    93.0   93.0

In [21]:
%hist

import pandas as pd
import numpy as np
import urllib2
import zipfile
import io
!head -n 5 'data/swim100m.csv'
path = r'data/swim100m.csv'
df = pd.read_csv(path, header=0)
df.head()
xls = r'data/Table 2.8 Waist loss.xls'
df2 = pd.read_excel(xls, skiprows=2)
df2.head()
df2.tail(5)
url = 'http://cdn.crcpress.com/downloads/C9500/GLM_data.zip'
req = urllib2.Request(url)
GLM_archive = urllib2.urlopen(req).read()
zipdata = io.BytesIO()
zipdata.write(GLM_archive)
myzipfile = zipfile.ZipFile(zipdata)
xlsfile = myzipfile.open(r'GLM_data/Table 2.8 Waist loss.xls')
df_ = pd.read_excel(xlsfile, skiprows=2)
df_.tail()
%hist

### 2 First Steps with Pandas

In [22]:
rate = 10

In [23]:
dt = 1.0 / rate

In [24]:
freq = 1.5

In [27]:
omega = 2 * np.pi * freq  # angular velocity

In [30]:
t = np.arange(0, 10, dt)

In [31]:
y = np.sin(omega * t)

In [32]:
z = np.cos(omega * t)

In [33]:
df = pd.DataFrame({'Time': t, 'YVals': y, 'ZVals': z})

In [34]:
df.head()

   Time     YVals     ZVals
0   0.0  0.000000  1.000000
1   0.1  0.809017  0.587785
2   0.2  0.951057 -0.309017
3   0.3  0.309017 -0.951057
4   0.4 -0.587785 -0.809017

In [36]:
df[['YVals', 'ZVals']][10: 16].to_csv('out.txt')